body {
    background-color: grey;
    padding: 0;
    margin: 0;
    font-family: 'pixel';
}
@font-face {
    font-family: 'pixel';
    src: url('/font/pixel-digivolve-font/pixel.ttf');
}
.nav-bar {
    background-color: rgb(77, 77, 77);
    padding: 15px;
    color: blue;
    font-size: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'pixel';
    font-size: 60px;
    
}
.counters {
    display: flex;
    justify-content: space-around;
    width: 600px;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 40px;
}

.date {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 30px;
}
#dateis {
    padding-right: 15px;
}
.container {
    width: 700px;
    margin: 30px auto;
    height: 430px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 65% 35%;
    background-color: beige;
    box-shadow: 20px 20px 5px #424238;
    font-family: 'pixel';
    border: 5px solid black;/*#626249;*/

}
.bdayTxt {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 35px;
    
} 
.expTxt {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 35px;
}

.names {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name, #lastname {
    padding: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#pic {
    width: 100%;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    border-bottom: 5px solid black;
    border-right: 5px solid black;;
}

.btn {
    padding: 30px;
    width: 200px;
    font-size: 30px;
    letter-spacing: 10px;
    
}
.buttons {
    display: flex;
    width: 800px;
    height: 320px;
    justify-content: space-around;
    margin: auto;
    padding-top: 50px;
    
}
#accepted, #deny {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'pixel';
    width: 250px; 
    height: 94px; 
    border: 5px solid black; 
}
#accepted {
    background-color: green;
    transition: width, .2s;
}
#deny {
    background-color: red;
    transition: width,  .2s;
}
#accepted:hover {
    color: white;
    width: 300px;
    height: 140px;
}
#deny:hover {
    color: white;
    width: 300px;
    height: 140px;
}
/* .start {
    width: 400px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
} */
#start {
    width: 300px;
    border-radius: 30px;
    border: none;
}

/* start screen */
.start-screen {
    background-color: #808080;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'pixel';
    src: url(/font/pixel-digivolve-font/pixel.ttf);
}
.start {
    width: 30%;
    margin: 290px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'pixel';
}
h1 {
    font-size: 50px;
}
#startBtn {
    color: black;
    background-color: purple;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'pixel';
    font-size: 30px;

}
#startBtn:hover {
    color: white;
}
.socials {
    width: 350px;
    margin: auto;
    margin-top: 400px;
}

.socials ul{
    list-style: none;
}
.socials ul li {
    display: inline;
    padding: 20px;
}
.socialimg {
    width: 50px;
}
footer {
    width: 500px;
    margin: 70px auto;
    font-family: 'pixel';
    font-weight: bold;
    display: flex;
    justify-content: center;
}
/* gameover screen */
#gameover {
    background-color: #5f5f5f;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 300px;
}
@font-face {
    font-family: 'pixel';
    src: url(/font/pixel-digivolve-font/pixel.ttf);
}

.gameovertxt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'pixel';
    
}
#go {
    font-size: 80px;
    padding-bottom: 40px;
    color: rgb(121, 20, 20)
}
#go2 {
    font-size: 40px;
}
#startover {
    width: 300px;
    height: 90px;
    border-radius: 20px;
    border: none;
    margin-top: 50px;
    color: black;
    background-color: purple;
    font-family: 'pixel';
    font-size: 30px;
    cursor: pointer;
}
#startover:hover {
    color: white
}